@use "@scss/base/variables" as *;

* {
  box-sizing: border-box;
}

h1, h2, h3, p, ul {
	margin: 0;
}

body {
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
	min-width: 320px;
	margin: 0;
	line-height: 1.5;
	place-items: center;
	overflow: hidden;
}
#root {
	width: 100%;
	min-height: 100vh;
}

.container {
	width: 100%;
	max-width: 1154px;
	margin: 0 auto;

	@media (max-width: $breakpoint-desktop) {
    padding: 0 20px;
  }
}