@use "@scss/base/variables" as *;

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
	overflow: auto;
	
  &__body {
    flex: 1 1 auto;
		display: flex;
		position: relative;
		width: 100%;
		& > * {
			width: 100%;
			display: flex;
			flex-direction: column;
		}
  }

  &__footer {
		background-color: $color-dark;
		color: $color-light;
		min-height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
  }
}
